In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense, Activation

import datetime

ModuleNotFoundError: No module named 'keras'

In [4]:
# Load Dataset

data = pd.read_csv('BTC-USD.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-03-25,43964.54688,44999.49219,43706.28516,44348.73047,44348.73047,3.057441e+10
1,2022-03-26,44349.85938,44735.99609,44166.27344,44500.82813,44500.82813,1.695046e+10
2,2022-03-27,44505.35547,46827.54688,44437.29297,46820.49219,46820.49219,2.816089e+10
3,2022-03-28,46821.85156,48086.83594,46690.20313,47128.00391,47128.00391,3.636218e+10
4,2022-03-29,47100.43750,48022.28906,47100.43750,47465.73047,47465.73047,3.139706e+10

In [9]:
# Compute Middle Price
high_prices = data['High'].values
low_prices = data['Low'].values
mid_prices = (high_prices + low_prices)/2

In [11]:
# Create Windows
seq_len = 50
sequence_length = seq_len + 1

result = []
for index in range(len(mid_prices) - sequence_length):
    result.append(mid_prices[index: index + sequence_length])

In [12]:
# Normalize Data
normalized_data = []
for window in result:
    normalized_window = [((float(p)/float(window[0]))-1) for p in window]
    normalized_data.append(normalized_window)
    
result = np.array(normalized_data)

# split train and test data
row = int(round(result.shape[0]*0.9))
train = result[:row, :]
np.random.shuffle(train)

x_train = train[:, :-1]
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1],1))
y_train = train[:, -1]

x_test = result[row:, :-1]
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1],1))
y_train = train[row:, -1]

x_train.shape, x_test.shape

((284, 50, 1), (31, 50, 1))

In [13]:
# Build a Model
model = Sequential()

model.add(LSTM(50, return_sequences=True, input_shape=(50,1)))

model.add(LSTM(64, return_sequences=False))

model.add(Dense(1, activation='linear'))

model.compile(loss='mse', optimizer='rmmsprop')

model.summary()

NameError: name 'Sequential' is not defined